//COLOR
$color-primary: rgb(243, 150, 28);
$color-secondary: rgb(241, 64, 64);

$color-white: #fff;
$color-gray-dark: #777;
$color-black: #000;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
