.composition {
  position: relative;
  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 1rem;

    @include respond(tab_port) {
      // float: left;
      position: relative;
      width: 33.3333333%;
      box-shadow: $box-shadow-medium;
    }

    &--p1 {
      left: 50%;
      top: -2rem;

      @include respond(tab_port) {
        top: 1rem;
        left: 80%;
        transform: scale(1.8);
      }
    }
    &--p2 {
      left: 30%;
      top: 8rem;

      @include respond(tab_port) {
        top: 17rem;
        transform: scale(1.8);
        z-index: 100;
        left: 0%;
      }
    }
    &--p3 {
      left: 0;
      top: 18rem;

      @include respond(tab_port) {
        top: -8rem;
        transform: scale(1.8);
        zindex: 100;
        left: 0;
      }
    }

    &:hover {
      outline: 1.5rem solid $color-primary;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      z-index: 20;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
