.section-about {
  background-color: $color-gray-light1;
  padding: 25rem 0;
  margin-top: 10vh;
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary, 0.8),
      rgba($color-secondary, 0.8)
    ),
    url(../img/vintage-collection.jpeg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;

  & > * {
    transform: skewY(7deg);
    background: none;
  }
}

.section-tours {
  background-color: $color-gray-light1;
  padding: 25rem 0 5rem 0;
  margin-top: -10rem;
}

.row {
  border-radius: 3px;
  padding-left: 5px;
  padding-bottom: 5px;
}
