.section-about {
  background-color: $color-gray-light1;
  padding: 25rem 0;
  margin-top: 10vh;

  @include respond(tab_port) {
    padding: 20rem 0;
  }
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary, 0.8),
      rgba($color-secondary, 0.8)
    ),
    url(../img/vintage-collection.jpeg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;

  & > * {
    transform: skewY(7deg);
    background: none;
  }

  @include respond(tab_port) {
    padding: 10rem 0;
  }
}

.section-browse {
  background-color: $color-gray-light1;
  padding: 25rem 0 5rem 0;
  margin-top: -10rem;

  @include respond(tab_port) {
    padding: 20rem 0 10rem 0;
  }
}

.row {
  border-radius: 3px;
  padding-left: 5px;
  padding-bottom: 5px;
}

.section-stories {
  position: relative;
  padding: 15rem 0;

  @include respond(tab_port) {
    padding: 10rem 0;
  }
}

.section-search {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primary,
    $color-primary-dark
  );

  @include respond(tab_port) {
    padding: 10rem 0;
  }
}

.search {
  background-image: linear-gradient(
      67deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url(../img/SNES-controller.jpeg);
  background-size: 100%;
  border-radius: $border-radius;
  box-shadow: $box-shadow-small;

  @include respond(tab_land) {
    background-image: linear-gradient(
        67deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 65%,
        transparent 65%
      ),
      url(../img/SNES-controller.jpeg);
    background-size: cover;
  }

  @include respond(tab_port) {
    background-image: linear-gradient(
        67deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 100%
      ),
      url(../img/SNES-controller.jpeg);
    background-size: cover;
  }

  &__form {
    width: 50%;
    padding: 6rem;

    @include respond(tab_land) {
      width: 65%;
    }

    @include respond(tab_port) {
      width: 60%;
    }
  }
}
